/Game/target/
/server_dati/target/
/server_gioco/target/
/server/target/
/cloud/target/
/client/target/
/store_giochi/target/
/server_utenti/target/
/store_giochi/cloud/gioco_1/target/
/store_giochi/cloud/gioco_2/target/
/store_giochi/cloud/gioco_3/target/
/store_giochi/cloud/gioco_6/target/